body {padding: 10px;}
ul{padding: 0;}
ul li {
display: inline;
list-style: none;
margin-right: 10px;
}
ul li a {text-decoration: none;
    border-right: 1px solid black; padding-right: 5px;}

p{background-color: black;
    color:#fff;
padding: 10px 15px;}

.flexBox{padding: 10px ;
    background: #f4f4f4;
    display:flex;
     border: 2px solid green;
     gap: 20px;
     justify-content:space-evenly;

     align-items:center;
     flex-direction: column;
    }
.flexBox div{
    border: 2px solid green;
    background:blanchedalmond;
    padding: 15px;
    font-size: 30px;
    width: auto;
    text-align: center;
 
    
}